#home {
    background: url("../images/home.png") center center/cover no-repeat;
    height: 100vh;
    position: relative;

    .home-container {
        position: relative;
        max-width: 700px;
        height: 100%;
        z-index: 0;

        .home-content {
            color: $light-color;

            button {
                width: 100%;
                max-width: 200px;
            }
        }
    }

    
}
